<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wpy.mapper.ArticleReptileMapper">

    <insert id="addNewArticleReptile" parameterType="com.wpy.bean.ArticleReptile">

        <!-- 查看是否存在memberid,如果存在及更新，否则插入 -->
        <selectKey keyProperty="id" order="BEFORE" resultType="int">
            select count(id) from article_reptile where title = #{title}
        </selectKey>
        <!-- 如果大于0则更新 -->
        <if test="id>0">
            select id from article_reptile where 0=0
        </if>
        <!-- 如果等于0则保存 -->
        <if test="id==0">
            insert INTO article_reptile (title,mdContent,htmlContent,summary,publishDate,editTime)values
            (#{title},#{mdContent},#{htmlContent},#{summary}, #{publishDate},#{editTime})
        </if>
    </insert>

    <select id="getArticleReptile" resultType="com.wpy.bean.ArticleReptile">
        SELECT a.id,a.`title`,a.`summary`,a.`editTime`,a.`pageView` FROM article_reptile a
        <if test="keywords!=null">
            WHERE  title LIKE concat('%',#{keywords},'%')
        </if>
        ORDER BY a.editTime DESC limit #{start},#{count}
    </select>

    <select id="getArticleById" parameterType="Int" resultMap="BaseResultMap">
        SELECT a.*  FROM article_reptile a WHERE a.id=#{aid}
    </select>

    <update id="pvIncrement" parameterType="Int">
        UPDATE article_reptile set pageView=pageView+1 WHERE id=#{aid}
    </update>

    <delete id="deleteArticleById">
         DELETE FROM article_reptile WHERE id =  #{aid}
    </delete>

    <resultMap id="BaseResultMap" type="com.wpy.bean.ArticleReptile">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="publishDate" property="publishDate"/>
        <result column="editTime" property="editTime"/>
        <result column="state" property="state"/>
        <result column="pageView" property="pageView"/>
        <result column="mdContent" property="mdContent"/>
        <result column="htmlContent" property="htmlContent"/>
        <result column="summary" property="summary"/>
        <result column="nickname" property="nickname"/>
        <result column="cateName" property="cateName"/>
    </resultMap>


</mapper>